.git
__pycache__/
.pytest_cache/
.ruff_cache
.vscode

src/_archieve
src/bowlplate/.env
src/bowlplate/assets/logs/Application/
src/bowlplate/assets/logs/guardian/
src/bowlplate/assets/logs/protections/
src/bowlplate/assets/logs/Protector/

src/bowlplate/data/database/
src/bowlplate/data/temp/
