# here is example for u setup
# make sure after setup, copy .env.example and rename it from .env.example to .env
# if not, it will make server crash and fallback error about ".env" are not identified.

secret_key="PLACE_SECRET_KEY_HERE"